*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#f5f7fb;
color:#222;
}

header{
position:fixed;
top:0;
width:100%;
background:white;
box-shadow:0 5px 15px rgba(0,0,0,.08);
z-index:999;
}

nav{
width:90%;
margin:auto;
height:75px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:28px;
font-weight:700;
color:#ff3b7f;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
color:#333;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#ff3b7f;
}

.btn{
background:#ff3b7f;
color:white;
padding:12px 24px;
border-radius:40px;
text-decoration:none;
font-weight:600;
transition:.3s;
}

.btn:hover{
background:#e92f6d;
transform:translateY(-3px);
}



.menu-toggle{

display:none;

width:35px;

cursor:pointer;

z-index:1001;

}

.menu-toggle span{

display:block;

height:3px;

background:#ff3b7f;

margin:7px 0;

border-radius:10px;

transition:.35s;

}

.mobile-download{

display:none;

}
 

.overlay{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.45);

opacity:0;

visibility:hidden;

pointer-events:none;

transition:.35s;

z-index:998;

}

.overlay.active{

opacity:1;
visibility:visible;
pointer-events:auto;

}



.hero{
padding-top:120px;
width:90%;
margin:auto;
display:flex;
align-items:center;
justify-content:space-between;
min-height:100vh;
gap:40px;
}

.hero-text{
flex:1;
}

.hero-text h1{
font-size:55px;
line-height:1.2;
margin-bottom:20px;
}

.hero-text span{
color:#ff3b7f;
}

.hero-text p{
font-size:18px;
color:#666;
margin-bottom:35px;
}



.hero-image{
flex:1;
display:flex;
justify-content:center;
}


.phone{
width:330px;
background:white;
padding:20px;
border-radius:35px;
box-shadow:0 30px 80px rgba(0,0,0,.12);
}

.phone img{
width:100%;
border-radius:25px;
}

section{
padding:90px 8%;
}

.section-title{
text-align:center;
font-size:38px;
margin-bottom:60px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
gap:25px;
}

.card{
background:white;
padding:30px;
border-radius:20px;
text-align:center;
transition:.35s;
box-shadow:0 10px 25px rgba(0,0,0,.05);
}

.card:hover{
transform:translateY(-10px);
box-shadow:0 20px 40px rgba(0,0,0,.12);
}

.card h2{
font-size:22px;
margin:15px 0;
}

.price{
font-size:35px;
font-weight:bold;
color:#ff3b7f;
}

.buy{
margin-top:20px;
display:inline-block;
padding:12px 30px;
background:#ff3b7f;
color:white;
text-decoration:none;
border-radius:50px;
}

.features{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
}

.feature{

background:white;

padding:40px 30px;

border-radius:25px;

text-align:center;

box-shadow:0 15px 40px rgba(0,0,0,.08);

transition:.35s;

}

.feature:hover{

transform:translateY(-12px);

box-shadow:0 25px 60px rgba(255,78,166,.18);

}

.feature h1{

font-size:55px;

margin-bottom:20px;

}

.feature h3{

margin-bottom:15px;

font-size:24px;

color:#ff3b7f;

}

.feature p{

line-height:1.7;

color:#666;

font-size:15px;

}

.steps{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:25px;
}

.step{
background:#fff;
padding:30px;
border-radius:18px;
text-align:center;
}

.number{
width:55px;
height:55px;
background:#ff3b7f;
color:white;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
border-radius:50%;
font-size:22px;
margin-bottom:20px;
}

#benefits{

background:#fff8fc;

}

.benefit-subtitle{

max-width:800px;

margin:-35px auto 60px;

text-align:center;

color:#666;

font-size:17px;

line-height:1.8;

}

.benefit-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}

.benefit-card{

background:white;

padding:35px;

border-radius:24px;

text-align:center;

box-shadow:0 12px 35px rgba(0,0,0,.08);

transition:.35s;

border:1px solid rgba(255,255,255,.4);

}

.benefit-card:hover{

transform:translateY(-10px);

box-shadow:0 25px 50px rgba(255,79,162,.18);

}

.benefit-icon{

width:80px;

height:80px;

margin:auto;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:38px;

background:linear-gradient(135deg,#ff4fa2,#8b5cf6);

color:white;

margin-bottom:20px;

}

.benefit-card h3{

margin-bottom:15px;

color:#ff3b7f;

font-size:22px;

}

.benefit-card p{

color:#666;

line-height:1.8;

font-size:15px;

}

.faq-item{

    background:#fff;
    border-radius:20px;
    padding:22px 25px;
    margin-bottom:20px;
    cursor:pointer;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

    transition:.3s;

}

.faq-item:hover{

    transform:translateY(-4px);

    box-shadow:0 20px 40px rgba(255,79,162,.15);

}

.faq-item h3{

    display:flex;
    justify-content:space-between;
    align-items:center;

    font-size:18px;

    color:#333;

}

.answer{

    display:none;

    margin-top:18px;

    color:#666;

    line-height:1.8;

    font-size:15px;

    border-top:1px solid #eee;

    padding-top:15px;

}

footer{
background:#111;
color:white;
text-align:center;
padding:30px;
}

@media(max-width:900px){

header{
padding:10px 0;
}

nav{

width:95%;

display:flex;

justify-content:space-between;

align-items:center;

height:70px;

}



.logo{
font-size:24px;
}

nav ul{
display:flex;
position:fixed;
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.hero{

padding-top:180px;

flex-direction:column-reverse;

text-align:center;

}

.hero-text{

width:100%;

}

.hero-text h1{

font-size:38px;

}

.hero-text p{

font-size:16px;

}

.hero-image{

width:100%;

}

.phone{

width:90%;

max-width:320px;

margin:auto;

}

.hero .btn{

display:block;

width:100%;

margin:15px auto;

}

.cards{

grid-template-columns:1fr;

}

.features{

grid-template-columns:1fr;

}

.steps{

grid-template-columns:1fr;

}

.desktop-btn{

display:none;

}

.menu-toggle{

display:block;

}

 
nav ul{

position:fixed;

top:0;

right:-100%;

width:280px;

height:100vh;

background:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

gap:30px;

transition:.35s;

box-shadow:-10px 0 40px rgba(0,0,0,.15);

z-index:999;

}

nav ul.active{

right:0;

}

.mobile-download{

display:inline-block;

background:#ff3b7f;

padding:12px 30px;

border-radius:30px;

color:white;

}

.mobile-download:hover{
   color:white;
   background:#8b5cf6;
}

nav ul li{

list-style:none;

}

nav ul a{

font-size:18px;

}

.menu-toggle.active span:nth-child(1){

transform:translateY(10px) rotate(45deg);

}

.menu-toggle.active span:nth-child(2){

opacity:0;

}

.menu-toggle.active span:nth-child(3){

transform:translateY(-10px) rotate(-45deg);

}


}


